@import "tailwindcss" important;

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(:not(.dark):not(.dark *)));

@theme {
  --color-app-bg: linear-gradient(-135deg, #eff6ff 0%, #f5f3ff 30%, #cbd5e1 60%, #94a3b8);
  --color-header-bg: linear-gradient(135deg, #eff6ff,  #cbd5e1);
  --color-app-text: #000000;
  --color-input-bg: #e5e7eb;
  --color-input-text: #1b1a1a;
  --color-select-bg: #e5e7eb;
  --color-select-text: #1b1a1a;
  --color-option-bg: #e5e7eb;
  --color-option-text: #1b1a1a;
  --colo-app-border: #053345 ;

  --font-body: Inter, sans-serif;
}

/* Override values for dark mode */
.dark{
  --color-app-bg: linear-gradient(-135deg, #0f172a 0%, #1e1b4b 30%, #334155 60%, #475569);
  --color-header-bg: linear-gradient(135deg, #0f172a, #334155);
  --color-app-text: #ffffff;
  --color-input-bg: #374151;
  --color-input-text: #f3f4f6 ;
  --color-select-bg: #374151;
  --color-select-text: #f3f4f6 ;
  --color-option-bg: #374151;
  --color-option-text: #f3f4f6 ;
  --colo-app-border: #f3f4f6;
}

@layer base {
  body {
    background: var(--color-app-bg);
    color: var(--color-app-text);
    font-family: var(--font-body);
    @apply antialiased transition-colors duration-300;
  }

  button {
    @apply cursor-pointer transition-all duration-200 ease-in-out transform active:scale-95 hover:brightness-110 flex items-center;
  }

  button:disabled {
    @apply cursor-not-allowed opacity-70 hover:brightness-100;
  }

  input {
    background-color: var(--color-input-bg);
    color: var(--color-input-text);
    @apply p-2 rounded-md transition-colors duration-200 h-10 border-2 border-transparent;
  }

  input:disabled{
    user-select: none;
    pointer-events: none;
  }

  input:is([type="checkbox"], [type="radio"]):hover{
    @apply cursor-pointer;
  }

  input:not([type="checkbox"], [type="radio"]):focus {
    @apply outline-none ring-2 ring-blue-500 border-white dark:ring-blue-400 dark:border-gray-900;
  }
  
  select {
    background-color: var(--color-select-bg);
    color: var(--color-select-text);
    @apply p-2 rounded-md cursor-pointer min-w-24 transition-colors duration-200 h-10 border-2 border-transparent;
  }
  
  select:focus{
    @apply outline-none ring-2 ring-blue-500 border-white dark:ring-blue-400 dark:border-gray-900;

  }

  option {
    background-color: var(--color-option-bg);
    color: var(--color-option-text);
    @apply hover:bg-blue-50 dark:hover:bg-blue-900;
  }

  h1 {
    @apply text-5xl font-bold transition-colors duration-200;
  }

  h2 {
    @apply text-4xl font-semibold transition-colors duration-200;
  }

  h3 {
    @apply text-3xl font-semibold transition-colors duration-200;
  }

  h4 {
    @apply text-2xl font-medium transition-colors duration-200;
  }

  h5 {
    @apply text-xl font-medium transition-colors duration-200;
  }

  h6 {
    @apply text-lg font-medium transition-colors duration-200;
  }
}